*{
    font-family: 'Open Sans', sans-serif !important;
    color: silver !important;

    --darker-blue:#161b20;
    --dark-blue:#1f2630;
    --blue:#0067bb;

    --yellow:yellow;

    --white:white;
}

html{
    scroll-behavior: smooth;
}

#navbarNav ul li{
    transition: 0.3s ease;
    padding:5px 10px;
}

#navbarNav a{
    transition: 0.3s linear;
}

#navbarNav a:hover{
color: var(--yellow) !important;
}


.navbar{
    position: sticky !important;
    top: 0;
    z-index: 4;
    background-color: var(--darker-blue) !important;
}


.my-picture img{
    transition: 0.4s ease;
}

.my-picture img:hover{
    transform: translateY(-20px)
}


.my-name{
    font-size: clamp(2rem, 4vw, 4rem) !important;
    font-weight: bold;
    color: var(--white) !important;
}


#about{
    background-image: linear-gradient( var(--darker-blue), var(--dark-blue)  ) !important;
}




#projects{
    background-color: var(--darker-blue) ;
    padding: 6rem 0;
}


.card{
    background-color: var(--dark-blue);
    transition: 0.4s linear;
}


.card:hover{
    background-color: var(--blue)!important;
    
}

.tools{
    padding: 6rem 0;
    background-color: var(--dark-blue);
}

.tools-img{

    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

    width: 75%;
    max-width: 1200px;

}

#contact{

    padding: 6rem 0;
    background-color: var(--darker-blue) ;
}

#contack-link{
    
    margin: 1rem auto;
    gap: 2rem;
    width: 50%;
    display: flex;
    justify-content: center;

    padding: 1rem;
  
}

#contack-link img{
    box-sizing: content-box;
    background-color: var(--yellow);
    padding:0.5rem;
    border-radius: 50%;
    cursor: pointer;

    transition: 0.3s ease;
    width: 30px;
}

#contack-link img:hover{
    transform: translateY(-10px);
}


.contact-form{
background-color: var(--dark-blue);
}

footer{
    background-color: var(--dark-blue);
}



/* Additional for scrol */

body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--dark-blue);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    border-radius: 10px;
  }
  