

.navbar{
    position: sticky !important;
    top: 0;
    z-index: 4;

    background-color: #121416 !important;
}


#about{
    background-color: #1d2024 !important;
}

#projects{
    background-color: #141516;
}


.card{
    background-color: #1d2024!important;
    color:silver !important;
    transition: 0.4s linear;
}

.card:hover{
    background-color: #222c36!important;
    
}